# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [95]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
customer_data = pd.read_csv(url)
print(customer_data.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [96]:
#Column names should be in lower case

column_name_lowercase = pd.DataFrame(customer_data )

In [97]:
customer_data.rename(columns=str.lower)

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
customer_data.columns =customer_data.columns.map(lambda x:x.lower())

In [99]:
customer_data.columns

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [100]:
#White spaces in column names should be replaced by _

In [154]:
#customer_data = pd.DataFrame(customer_data)
customer_data.columns = customer_data.columns.str.replace(" ","_",case = False)
customer_data.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [155]:
print("DataFrame new column names:")
print(customer_data).head()

DataFrame new column names:
     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

      customer_lifetime_value        income  monthly_premium_auto  \
0                7.936903e+05      0.000000            1000.00000
1                6.979536e+05      0.000000              94.00000
2                1.288743e+06  48767.000000             108.00000
3                7.645862e+05      0.000000             106.00000
4                5.363077e+05  36357.000000              68.00000
...                       ...           ...                   ...
4003             7.936903e+05  39295.701214             193.23436
4004             7.936903e+05  39295.701214             193.23436
4005             7.936903e+05  39295.701214             193.23436
4006             7.936903e+05  39295.701214             193.23436
4007             7.936903e+05  39295.701214             193.23436

      number_of_open_complaints     policy_type  vehicle_class  \
0                      0.000000   Personal Auto  Four-Door Car
1                      0.000000   Personal Auto  Four-Door Car
2                      0.000000   Personal Auto   Two-Door Car
3                      0.000000  Corporate Auto            SUV
4                      0.000000   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                   0.394024             NaN            NaN
4004                   0.394024             NaN            NaN
4005                   0.394024             NaN            NaN
4006                   0.394024             NaN            NaN
4007                   0.394024             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003          404.986909
4004          404.986909
4005          404.986909
4006          404.986909
4007          404.986909

[4008 rows x 11 columns]

AttributeError: 'NoneType' object has no attribute 'head'

In [103]:
customer_data.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [104]:
customer_data.st = customer_data.st.str.replace("st","states",case = False)

Print=customer_data

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [105]:
# 1Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".
gender_mapping = {'F': 'F', 'Female': 'F', 'female': 'F', 'Femal': 'F','M': 'M', 'Male': 'M', 'male': 'M'}
customer_data.gender = customer_data['gender'].replace(gender_mapping)
customer_data.gender.value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [106]:
customer_data.gender

0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: gender, Length: 4008, dtype: object

In [107]:
#State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
state_mapping = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
customer_data.st = customer_data["st"].replace(state_mapping)
customer_data.st.value_counts()

st
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [158]:
state_mapping = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
customer_data.st = customer_data["st"].map(state_mapping)

In [162]:
list(map(lambda x: x **2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [163]:
customer_data.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,NaN,NaN,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,NaN,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NaN,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,NaN,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,NaN,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [108]:
print (customer_data)

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     number_of_open_complaints     policy_type  vehicle_class  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [109]:
customer_data.isna().any()

customer                     True
st                           True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool

In [110]:
customer_data.isna().sum()

customer                     2937
st                           2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [111]:
#n education, "Bachelors" could be replaced by "Bachelor"

In [112]:
print("Original DataFrame:")
print(customer_data)

Original DataFrame:
     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     number_of_open_complaints     policy_type  vehicle_class  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [113]:
customer_data["education"] = customer_data["education"].replace("Bachelors","Bachelor")

In [114]:
print(customer_data["education"])

0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
4003                     NaN
4004                     NaN
4005                     NaN
4006                     NaN
4007                     NaN
Name: education, Length: 4008, dtype: object

In [115]:
#In Customer Lifetime Value, delete the % character
customer_data['customer_lifetime_value'] = customer_data['customer_lifetime_value'].str.replace('%', '')

In [116]:
print(customer_data["customer_lifetime_value"])

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [117]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
luxury_car_mapping = {"Sports Car":"Luxury","Luxury SUV":"Luxury","Luxury car":"Luxury"}

customer_data['vehicle_class'] = customer_data['vehicle_class'].replace(luxury_car_mapping)
print(customer_data["vehicle_class"])

0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: vehicle_class, Length: 4008, dtype: object

##Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [118]:
print(customer_data)

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                  697953.59      0.0                  94.0
2                 1288743.17  48767.0                 108.0
3                  764586.18      0.0                 106.0
4                  536307.65  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     number_of_open_complaints     policy_type  vehicle_class  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

print(customer_data.dtypes)

In [119]:
print(customer_data.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

##Customer lifetime value should be numeric
Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type
.

In [120]:
print(customer_data["customer_lifetime_value"])

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [121]:
customer_data["customer_lifetime_value"] = pd.to_numeric(customer_data["customer_lifetime_value"])

In [122]:
print("customer lifetime value with numrical value") 
print(customer_data["customer_lifetime_value"])

customer lifetime value with numrical value
0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

In [123]:
print(customer_data.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [124]:
#Number of open complaints has an incorrect format. 
#Look at the different values it takes with unique() and take the middle value. 
#As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. 
#Finally, since it should be numeric, cast the column to be in its proper type.

In [125]:
print("Unique values in 'Number of open complaints':")
print(customer_data['number_of_open_complaints'].unique())

Unique values in 'Number of open complaints':
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

In [126]:
## Function to extract the middle value
def extract_middle_value(complaint):
    if isinstance(complaint, str):
         parts = complaint.split('/')
         if len(parts) == 3:
             return parts[1] 
         return complaint

In [127]:
customer_data['number_of_open_complaints'] = customer_data['number_of_open_complaints'].apply(extract_middle_value)

In [128]:
customer_data["number_of_open_complaints"] = pd.to_numeric(customer_data["number_of_open_complaints"])

In [165]:
print("replace values in 'Number of open complaints':")
print(customer_data['number_of_open_complaints'])

replace values in 'Number of open complaints':
0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
4003    0.394024
4004    0.394024
4005    0.394024
4006    0.394024
4007    0.394024
Name: number_of_open_complaints, Length: 4008, dtype: float64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [130]:
print(customer_data)

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

      customer_lifetime_value   income  monthly_premium_auto  \
0                         NaN      0.0                1000.0
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
...                       ...      ...                   ...
4003                      NaN      NaN                   NaN
4004                      NaN      NaN                   NaN
4005                      NaN      NaN                   NaN
4006                      NaN      NaN                   NaN
4007                      NaN      NaN                   NaN

      number_of_open_complaints     policy_type  vehicle_class  \
0                           0.0   Personal Auto  Four-Door Car
1                           0.0   Personal Auto  Four-Door Car
2                           0.0   Personal Auto   Two-Door Car
3                           0.0  Corporate Auto            SUV
4                           0.0   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN             NaN            NaN
4004                        NaN             NaN            NaN
4005                        NaN             NaN            NaN
4006                        NaN             NaN            NaN
4007                        NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [131]:
customer_data.isna().sum()

customer                     2937
st                           2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [132]:
print(customer_data)

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

      customer_lifetime_value   income  monthly_premium_auto  \
0                         NaN      0.0                1000.0
1                   697953.59      0.0                  94.0
2                  1288743.17  48767.0                 108.0
3                   764586.18      0.0                 106.0
4                   536307.65  36357.0                  68.0
...                       ...      ...                   ...
4003                      NaN      NaN                   NaN
4004                      NaN      NaN                   NaN
4005                      NaN      NaN                   NaN
4006                      NaN      NaN                   NaN
4007                      NaN      NaN                   NaN

      number_of_open_complaints     policy_type  vehicle_class  \
0                           0.0   Personal Auto  Four-Door Car
1                           0.0   Personal Auto  Four-Door Car
2                           0.0   Personal Auto   Two-Door Car
3                           0.0  Corporate Auto            SUV
4                           0.0   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                        NaN             NaN            NaN
4004                        NaN             NaN            NaN
4005                        NaN             NaN            NaN
4006                        NaN             NaN            NaN
4007                        NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

##

In [133]:
null_counts = customer_data.isnull().sum()
print("Null Value Counts:")
print(null_counts)

Null Value Counts:
customer                     2937
st                           2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [166]:
income = customer_data.select_dtypes(include='number').columns
customer_data[income] = customer_data[income].fillna(customer_data[income].mean())

In [ ]:
#how all approach

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [137]:
print(customer_data).duplicated()

     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

      customer_lifetime_value        income  monthly_premium_auto  \
0                7.936903e+05      0.000000            1000.00000
1                6.979536e+05      0.000000              94.00000
2                1.288743e+06  48767.000000             108.00000
3                7.645862e+05      0.000000             106.00000
4                5.363077e+05  36357.000000              68.00000
...                       ...           ...                   ...
4003             7.936903e+05  39295.701214             193.23436
4004             7.936903e+05  39295.701214             193.23436
4005             7.936903e+05  39295.701214             193.23436
4006             7.936903e+05  39295.701214             193.23436
4007             7.936903e+05  39295.701214             193.23436

      number_of_open_complaints     policy_type  vehicle_class  \
0                      0.000000   Personal Auto  Four-Door Car
1                      0.000000   Personal Auto  Four-Door Car
2                      0.000000   Personal Auto   Two-Door Car
3                      0.000000  Corporate Auto            SUV
4                      0.000000   Personal Auto  Four-Door Car
...                         ...             ...            ...
4003                   0.394024             NaN            NaN
4004                   0.394024             NaN            NaN
4005                   0.394024             NaN            NaN
4006                   0.394024             NaN            NaN
4007                   0.394024             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003          404.986909
4004          404.986909
4005          404.986909
4006          404.986909
4007          404.986909

[4008 rows x 11 columns]

AttributeError: 'NoneType' object has no attribute 'duplicated'

In [139]:
duplicate_rows = customer_data.duplicated()
num_duplicates = duplicate_rows.sum()
print(f"Number of Duplicate Rows: {num_duplicates}")

Number of Duplicate Rows: 2936

In [140]:
print("Duplicate Rows:")
print(customer_data[duplicate_rows])

Duplicate Rows:
     customer   st gender education  customer_lifetime_value        income  \
1072      NaN  NaN    NaN       NaN            793690.259345  39295.701214
1073      NaN  NaN    NaN       NaN            793690.259345  39295.701214
1074      NaN  NaN    NaN       NaN            793690.259345  39295.701214
1075      NaN  NaN    NaN       NaN            793690.259345  39295.701214
1076      NaN  NaN    NaN       NaN            793690.259345  39295.701214
...       ...  ...    ...       ...                      ...           ...
4003      NaN  NaN    NaN       NaN            793690.259345  39295.701214
4004      NaN  NaN    NaN       NaN            793690.259345  39295.701214
4005      NaN  NaN    NaN       NaN            793690.259345  39295.701214
4006      NaN  NaN    NaN       NaN            793690.259345  39295.701214
4007      NaN  NaN    NaN       NaN            793690.259345  39295.701214

      monthly_premium_auto  number_of_open_complaints policy_type  \
1072             193.23436                   0.394024         NaN
1073             193.23436                   0.394024         NaN
1074             193.23436                   0.394024         NaN
1075             193.23436                   0.394024         NaN
1076             193.23436                   0.394024         NaN
...                    ...                        ...         ...
4003             193.23436                   0.394024         NaN
4004             193.23436                   0.394024         NaN
4005             193.23436                   0.394024         NaN
4006             193.23436                   0.394024         NaN
4007             193.23436                   0.394024         NaN

     vehicle_class  total_claim_amount
1072           NaN          404.986909
1073           NaN          404.986909
1074           NaN          404.986909
1075           NaN          404.986909
1076           NaN          404.986909
...            ...                 ...
4003           NaN          404.986909
4004           NaN          404.986909
4005           NaN          404.986909
4006           NaN          404.986909
4007           NaN          404.986909

[2936 rows x 11 columns]

In [142]:
#Dropping duplicates based on a specific column
duplicate_rows = customer_data.duplicated(subset=["customer"])
num_duplicates = duplicate_rows.sum()
print(f"\nNumber of Duplicate Rows based on 'customer_id': {num_duplicates}")

Number of Duplicate Rows based on 'customer_id': 2936

In [145]:
customer_data.dropna(how='all').tail()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
4003,NaN,NaN,NaN,NaN,793690.259345,39295.701214,193.23436,0.394024,NaN,NaN,404.986909
4004,NaN,NaN,NaN,NaN,793690.259345,39295.701214,193.23436,0.394024,NaN,NaN,404.986909
4005,NaN,NaN,NaN,NaN,793690.259345,39295.701214,193.23436,0.394024,NaN,NaN,404.986909
4006,NaN,NaN,NaN,NaN,793690.259345,39295.701214,193.23436,0.394024,NaN,NaN,404.986909
4007,NaN,NaN,NaN,NaN,793690.259345,39295.701214,193.23436,0.394024,NaN,NaN,404.986909

In [147]:
customer_data.dropna(thresh=3).tail()
customer_data.dropna(thresh=3, subset = ["customer", "st", "income", "total_claim_amount"]).tail()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [151]:
customer_data_unique = customer_data.drop_duplicates(subset=['customer']).reset_index(drop=True)

# Display DataFrame after dropping duplicates and resetting index
print("\nDataFrame after dropping duplicates based on 'customer_id' and resetting index:")
print(customer_data_unique)

DataFrame after dropping duplicates based on 'customer_id' and resetting index:
     customer          st gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
1067  VJ51327  California      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1069  CW49887  California      F                Master
1070  MY31220  California      F               College
1071      NaN         NaN    NaN                   NaN

      customer_lifetime_value        income  monthly_premium_auto  \
0                7.936903e+05      0.000000            1000.00000
1                6.979536e+05      0.000000              94.00000
2                1.288743e+06  48767.000000             108.00000
3                7.645862e+05      0.000000             106.00000
4                5.363077e+05  36357.000000              68.00000
...                       ...           ...                   ...
1067             2.031500e+06  63209.000000             102.00000
1068             3.239125e+05  16061.000000              88.00000
1069             4.626801e+05  79487.000000             114.00000
1070             8.997040e+05  54230.000000             112.00000
1071             7.936903e+05  39295.701214             193.23436

      number_of_open_complaints     policy_type  vehicle_class  \
0                      0.000000   Personal Auto  Four-Door Car
1                      0.000000   Personal Auto  Four-Door Car
2                      0.000000   Personal Auto   Two-Door Car
3                      0.000000  Corporate Auto            SUV
4                      0.000000   Personal Auto  Four-Door Car
...                         ...             ...            ...
1067                   2.000000   Personal Auto            SUV
1068                   0.000000   Personal Auto  Four-Door Car
1069                   0.000000    Special Auto            SUV
1070                   0.000000   Personal Auto   Two-Door Car
1071                   0.394024             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
1067          207.320041
1068          633.600000
1069          547.200000
1070          537.600000
1071          404.986909

[1072 rows x 11 columns]

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here